Input.rounded {
 border: 1px solid;
 border-radius: 5px;
 font-size: 14px;
 border-color: #BEBEBE;
  }
#bigbox {
  height: 60px;
  padding-bottom: 20px;
}
.padbottom{
  padding-bottom:30px;
}
.padright{
  padding-right: 150px;
}
 .padleft{
  padding-left: 20px;
}
.floatright{
  float: right;
  width: 206px;
}
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
      height: 30px;
        padding: 4px 6px;
          margin-bottom: 10px;
            font-size: 14px;
              line-height: 20px;
                color: #555555;
                  vertical-align: middle;
                    -webkit-border-radius: 4px;
                         -moz-border-radius: 4px;
                                   border-radius: 4px;
}
